@import url('//fonts.googleapis.com/css?family=Roboto+Mono:400,300,100');

.container {
  font-family: 'Roboto Mono';
  font-size: 13px;
  max-width: 600px;
  padding: 20px;
  p {
    text-align: justify;
    margin: 20px 0;
  }
}

a {
  color: black;
}

.btn {
  font-family: 'Roboto Mono';
  border: none;
  border-radius: none;
  background: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  text-transform: uppercase;
  margin-top: 20px;
  transition: all .25s;
  cursor: pointer;
  &:hover {
    background: black;
    color: white;
  }
}
